.expense-list {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 14px;
    color: #000000;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 40%;
  }
  